<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You tube</title>
    <link rel="stylesheet" href="./css/home.style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <div class="header">
        <div class="h2-container">
            <h2><i class="fa-brands fa-youtube"></i> You Tube</h2>
        </div>
        <div class="link">
            <a href="/createvideo">Add video</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </div>
    <div class="users-container">
        <%users.forEach((user) => {%>
        <div class="user-card">
            <a href="/videos/<%=user.id%>">
                <img src="/<%=user.photo%>">
                <h3><%=user.firstName%> <%=user.lastName%></h3>
            </a>
        </div>
        <%})%>
    </div>

</body>

</html>
